.chartDiv{
    width:618px;
    height: 400px;
}

.chartContainer{
    width: 100%;
    height: 100%;
}

.rechart-cartesian-grid-horizontal{
    stroke:red !important;
}

.svg.recharts-surface tspan {
	font-size: 2rem !important;
	color: red !important;
	font-family:  Arial;
}

.xaxis{
    
}
.recharts-wrapper .recharts-y-axis .recharts-cartesian-axis-tick text {
    fill: black !important;
  }