
.widgetDiv{
    background-color: var(--theme-widget-background);
    height: 30rem;
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.labelFrame{
    display: flex;
    padding-bottom: 0.3rem;
    align-self: flex-start;
    color: var(--theme-userlabel-color);
    opacity: 50%;
}

.closeButton{
    background-color: transparent;
    position: absolute;
    float: right;
    border: none;
    top:0;
    right:0;
    padding-top: 0.2rem;
    opacity: 50%;
    filter: invert(var(--theme-icon-filter-invert));
    cursor: pointer;
}

.closeButton:hover{
    opacity: 70%;
}

.closeButton:active{
    opacity: 100%;
}

.imgIcon{
    height: 20px;
    width: 20px;
}