.widgetFrame {}

.widgetDiv{
    background-color: var(--theme-widget-background);
    height: 31rem;
    padding: 2rem;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1400px){
    .widgetDiv{
        height: auto;
    }
}


.labelFrame{
    display: flex;
    padding-bottom: 0.3rem;
    align-self: flex-start;
    color: var(--theme-widget-label);
    opacity: 50%;
}

.closeButton{
    background-color: transparent;
    position: absolute;
    float: right;
    border: none;
    top:0;
    right:0;
    padding: 0.5rem;
    opacity: 50%;
    filter: invert(var(--theme-icon-filter-invert));
    cursor: pointer;
}

.closeButton:hover{
    opacity: 70%;
}

.closeButton:active{
    opacity: 100%;
}

.imgIcon{
    height: 20px;
    width: 20px;
}

.nav {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.content {
    height: 100%;
    display: flex;
    position: relative;
    margin-top: 2rem;
}