.btn{
    display: block;
    text-decoration: none;
    background-color: transparent;
    border:none;
}

.btn:hover{
    background-color: var(--theme-icon-hover)
}

.btn:active{
    background-color: var(--theme-icon-click);
}

