.container {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    align-items: center;
    background: var(--theme-dropdownmenu-background);
    cursor: pointer;

    flex: none;
    align-self: stretch;
}

.container:hover {
    background:var(--theme-icon-hover);
}

.imgContainer {
    padding: 8px;
    flex: none;
}

.label {
    font-size: 16px;
    line-height: 1;
    color: var(--theme-userlabel-color);
    flex: none;
    margin-left: 16px;
}

.lastItem {
    margin-left: auto;
}

.imgIcon{
    filter: invert(var(--theme-icon-filter-invert));
    width:30px;
    height:30px;
}

