.container {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    align-items: center;
    background: #D5C1FF;

    flex: none;
    align-self: stretch;
}

.container:hover {
    background: #AE9BD8;
}

.imgContainer {
    padding: 8px;

    flex: none;
}

.label {
    font-size: 16px;
    line-height: 1;

    flex: none;
    margin-left: 16px;
}

.lastItem {
    margin-left: auto;
}