.container {
    width: auto;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 20px;
    align-self: stretch;
}

.container:hover {
    background-color: var(--theme-widget-button);
}

.ratingFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.commentFrame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /*flex: none;*/
    order: 1;
    flex-grow: 1;

}

.label {
    margin-bottom: 4px;
    font-size: 10px;
    color: var(--theme-widget-label);
}

.ratingIcon{
    filter: var(--theme-widget-icon-filter-brightness);
    width: 30px;
    height: 30px;
    margin-top: 2px;
}

.textContainer {
    height: 100%;
    padding-right: 5px;

    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--theme-widget-text);
    text-align: left;

    /*flex: none;*/
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    overflow-y: auto;
    will-change: scroll-position;

}