


.light{
    --theme-header-color: #AD90FF;
    --theme-page-background: #FFFFFF;
    --theme-page-text: #111;
    --theme-userlabel-color: #111;
    --theme-icon-filter-invert: 0%;
    --theme-icon-hover: #9483C7;
    --theme-icon-click: #8072aa;
    --theme-dropdownmenu-background: #D5C1FF;
    /* --theme-listitem-background:#EFE8FD; */
    --theme-listitem-background:#e4d6ff;

    --theme-widget-background: #FCF8FF;
    --theme-widget-button: #EFE2FF;
    --theme-widget-button-hover: #C8A0E1;
    --theme-widget-label: #8C8C8C;
    --theme-widget-text: #000000;
    --theme-widget-icon-filter-brightness: brightness(1);
    --theme-widget-divider: #dadada;

    --theme-chart-tick-color: grey;
    --theme-chart-label-color: black;
    --theme-primarychart-color: rgb(124, 54, 156);
    --theme-secondarychart-color: rgb(58, 102, 223);
    --theme-olderchart-color: rgb(0, 105, 112);




}

.dark{
    --theme-header-color: #676767;
    --theme-page-background: #454545;
    --theme-page-text: rgb(170, 170, 170);
    --theme-userlabel-color: rgb(238, 238, 238);
    --theme-icon-filter-invert: 90%;
    --theme-icon-hover: #4d4d4d;
    --theme-icon-click: #383838;
    --theme-dropdownmenu-background: #5B5B5B;
    --theme-listitem-background:#6E6D6F;

    --theme-widget-background: #5A585C;
    --theme-widget-button: #6E6D6F;
    --theme-widget-button-hover: #424242;
    --theme-widget-label: #c5c3c3;
    --theme-widget-text: #ECECEC;
    --theme-widget-icon-filter-brightness: brightness(1.75);
    --theme-widget-divider: #777777;

    --theme-chart-tick-color: rgb(201, 201, 201);
    --theme-chart-label-color: rgb(214, 214, 214);
    --theme-primarychart-color: rgb(184, 139, 243);
    --theme-secondarychart-color: rgb(198, 205, 214);
    --theme-olderchart-color: rgb(3, 83, 3);
}
