.container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    width: 100%;
    align-items: flex-end;
    padding: 0px 0px;
}

.labelContainer {
    text-align: left;
    padding-right: 5px;
}

.divider {
    border: 0;
    width: 100%;
    border-top: 1px solid var(--theme-widget-divider);
    margin: 8px 0;
}
