.dropdown {
    position: relative;
}

.userLabel{
    float: right;
    vertical-align: bottom;
    padding-left: 10px;
    font-weight: bold;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.imgIcon{
    display: block;
    float:left;
    pointer-events: none;
    height: 38px;
    width: 38px;
}
.accountBtn{
    height: 45px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
}

.accountBtn:hover{
    background-color: #9483C7;
}

.accountBtn:active{
    background-color: #8072aa;
}



