.name-btn{

}

label{
    float:right;
    vertical-align: bottom;
    padding-left:10px;
    font-weight: bold;
    font-size: medium;

}
img{
    display: block;
    float:left;
}
.div-btn{
    height: 38px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.div-btn:hover{
    background-color: #9483C7;
}

.div-btn:active{
    background-color: #8072aa;
}