.container {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 1px 8px;
    cursor: pointer;

    background: var(--theme-widget-button);
    border-radius: 6px;

    margin-bottom: 3px;
}

.container:hover {
    background:var(--theme-widget-button-hover);
}

.imgIcon{
    filter: invert(var(--theme-icon-filter-invert));
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.label {
    line-height: 1;
    color: var(--theme-widget-text);
    margin: 0px 5px;
}