.container {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    cursor: pointer;

    background: #EFE2FF;
    border-radius: 6px;
}

.container:hover {
    background:var(--theme-icon-hover);
}

.imgIcon{
    filter: invert(var(--theme-icon-filter-invert));
    width: 28px;
    height: 28px;
    margin: 0px 5px;
}

.label {
    line-height: 1;
    color: var(--theme-userlabel-color);
    margin: 0px 5px;
}