.container {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px 1px 15px;
    margin-top: 1px;
    cursor: pointer;

    background: var(--theme-widget-button);
    border-radius: 6px;

    align-self: stretch;
}

.container:hover {
    background:var(--theme-widget-button-hover);
}

.lastItem {
    margin-left: auto;
}

.imgIcon{
    filter: invert(var(--theme-icon-filter-invert));
    width: 28px;
    height: 28px;
}

.label {
    line-height: 1;
    color: var(--theme-widget-text);
}

