.container {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 55px;
    align-items: center;
    background: var(--theme-listitem-background);
    height: 46px;
    cursor: pointer;

    flex: none;
    align-self: stretch;
}

.container:hover {
    background: var(--theme-icon-hover);
}

.label {
    font-size: 16px;
    line-height: 1;
    color: var(--theme-userlabel-color);
    flex: none;
    margin-left: 16px;
}

.imgIcon{
    filter: invert(var(--theme-icon-filter-invert));
}
