.nav-header{
    overflow: hidden;
    background-color: #AD90FF; 
    
}

.lab{
    visibility: hidden;
}

.settings-button{
    
    height: 45px;
    float: right;
    padding-inline: 10px;
}

.menu-button{
    float: left;
    height: 45px;
    padding-inline: 10px;
}


.account-button{
    float: right;
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;
}


