.navHeader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--theme-header-color);
}

.lab{
    visibility: hidden;
}

.imgIcon{
    height: 38px;
    width: 38px;
    pointer-events: none;
    filter: invert(var(--theme-icon-filter-invert));
}

.settingsButton {
    height: 45px;
    padding-inline: 10px;
}

.widgetMenuButton {
    height: 45px;
    padding-inline: 10px;
}

.rightPosition {
    margin-right: auto;
}

.contentToRightEdge {
    right: 0;
}
