/* //     export const Nav = styled.nav`
//   background: #63D471;
//   height: 85px;
//   display: flex;
//   justify-content: space-between;
//   padding: 0.2rem calc((100vw - 1000px) / 2);
//   z-index: 12; */
/* 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(106, 0, 148);
} */

.Test{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(106, 0, 148);  
}

button{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
} 

.menu-button{
    float: right;
}


button :hover{
    color: rgb(31, 255, 10);
}