.navHeader{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #AD90FF;
}

.lab{
    visibility: hidden;
}

.imgIcon{
    height: 38px;
    width: 38px;
    pointer-events: none;
}

.settingsButton {
    height: 45px;
    padding-inline: 10px;
}

.menuButton{
    height: 45px;
    padding-inline: 10px;
    margin-right: auto;
}

